.weather-card {
    display: inline-block;
}

.submit-btn {
    float: right;
}

.search-input {
    height: 50%;
}

.mud-card {
    margin: 5px;
}

.flex-row-custom {
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.search-content {
    margin-top: 10px;
}

.table td, .table th {
    font-size: 10px;
}

.hour {
    background-color: darkslategrey;
    color: #0dcaf0;
    font-family: Consolas, serif
}
